# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Axel Holene
	email = axel.holene@gmail.com
	username = holene

[core]
	excludefile = ~/.gitignore_global
	editor = code

[web]
	browser = google-chrome

[credential]
	helper = osxkeychain
